// font
$font: 'Noto Sans KR', sans-serif;
$font-thin: 100;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;

$color-main: #000;  // *
$color-second: #fff;
$color-point: #ff6000;
$color-a: #000;
$color-hover: #fff;
$color-gray: #a1a1a1;

$line-black: #000;
$line-white: #fff;
$line-gray: #dbdbdb;

$inform-line-gray: #d9d9d9;

$background-orange: #ff6000;
$background-hover: #000;

$width-wide: 100%;  // *
$width-half: 50%;  // *

$break-small: 320px;  // *
$break-large: 1024px;  // *

// footer
$footer-darkgray: #717171;
$footer-gray: #b0afaf;