@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: 300;
  font-size: 16px;
  font-family: "Noto Sans KR", sans-serif;
}

ol,
ul {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: #000;
}

strong,
span {
  display: block;
}

address {
  font-style: normal;
}

img {
  display: block;
  width: 100%;
}

img,
input,
textarea,
select {
  vertical-align: middle;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 16px;
}

header,
nav,
main,
section,
footer {
  display: block;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: antiquewhite;
}

header {
  width: 100%;
  height: 150px;
  padding: 0 20px;
}
header .logo-gnb-rightmenu .logo-gnb-menu-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media only screen and (min-width: 1024px) {
  header .logo-gnb-rightmenu .logo-gnb-menu-box {
    position: relative;
  }
}
header .logo-gnb-rightmenu .logo-gnb-menu-box .logo img {
  margin-top: 36px;
  width: 182px;
}
@media only screen and (min-width: 1024px) {
  header .logo-gnb-rightmenu .logo-gnb-menu-box .logo img {
    margin-top: 41px;
    width: 191px;
  }
}
header .logo-gnb-rightmenu .logo-gnb-menu-box .main-menu {
  display: none;
}
@media only screen and (min-width: 1024px) {
  header .logo-gnb-rightmenu .logo-gnb-menu-box .main-menu {
    margin-top: 72px;
    margin-left: -43px;
    width: 616px;
    display: block;
  }
  header .logo-gnb-rightmenu .logo-gnb-menu-box .main-menu .gnb {
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
  }
  header .logo-gnb-rightmenu .logo-gnb-menu-box .main-menu .gnb li a.gnb-title {
    font-size: 20px;
    font-weight: 400;
  }
  header .logo-gnb-rightmenu .logo-gnb-menu-box .main-menu .gnb li .sub-menu {
    display: none;
  }
}
header .logo-gnb-rightmenu .logo-gnb-menu-box .right-menu {
  display: flex;
  justify-content: space-between;
  width: 145px;
  height: 45px;
  margin-top: 54px;
}
@media only screen and (min-width: 1024px) {
  header .logo-gnb-rightmenu .logo-gnb-menu-box .right-menu {
    display: block;
    margin-top: 67px;
    margin-right: 35px;
    width: 85px;
    height: 21px;
  }
}
@media only screen and (min-width: 1024px) {
  header .logo-gnb-rightmenu .logo-gnb-menu-box .right-menu ul {
    display: flex;
    justify-content: space-between;
  }
}
header .logo-gnb-rightmenu .logo-gnb-menu-box .right-menu ul .login {
  display: none;
}
@media only screen and (min-width: 1024px) {
  header .logo-gnb-rightmenu .logo-gnb-menu-box .right-menu ul .login {
    display: block;
    width: 27px;
  }
}
header .logo-gnb-rightmenu .logo-gnb-menu-box .right-menu ul .search {
  width: 45px;
  margin-right: 10px;
}
@media only screen and (min-width: 1024px) {
  header .logo-gnb-rightmenu .logo-gnb-menu-box .right-menu ul .search {
    width: 21px;
  }
}
header .logo-gnb-rightmenu .logo-gnb-menu-box .right-menu .mobile-menu {
  width: 45px;
  height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (min-width: 1024px) {
  header .logo-gnb-rightmenu .logo-gnb-menu-box .right-menu .mobile-menu {
    display: none;
  }
}
header .logo-gnb-rightmenu .logo-gnb-menu-box .right-menu .mobile-menu .bar {
  width: 100%;
  height: 4px;
  background-color: #000;
}

footer {
  position: relative;
  width: 100%;
  height: 420px;
}
@media only screen and (min-width: 1024px) {
  footer {
    height: 415px;
  }
}
footer .footer-img img {
  width: 100%;
}
footer .footerlogo-info {
  padding: 0 20px;
  margin-top: 35px;
}
footer .footerlogo-info .footer-content-box {
  width: 84%;
  margin: 0 auto;
}
@media only screen and (min-width: 1024px) {
  footer .footerlogo-info .footer-content-box {
    display: flex;
    width: 82%;
    background-color: lightpink;
  }
}
footer .footerlogo-info .footer-content-box .footer-logo h2 {
  font-weight: 100;
  font-size: 42px;
}
@media only screen and (min-width: 1024px) {
  footer .footerlogo-info .footer-content-box .footer-logo {
    margin-top: 7px;
    margin-right: 90px;
    width: 300px;
    line-height: 1.2;
    font-size: 53px;
    background-color: aquamarine;
  }
}
footer .footerlogo-info .footer-content-box .division-line {
  position: relative;
  width: 100%;
  height: 2px;
  margin: 30px 0 20px;
  background-color: #b0afaf;
}
@media only screen and (min-width: 1024px) {
  footer .footerlogo-info .footer-content-box .division-line {
    position: absolute;
    left: 410px;
    top: 42px;
    width: 62.36%;
    margin: 0;
  }
}
footer .footerlogo-info .footer-content-box .division-line .line {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 5.7%;
  height: 100%;
  background-color: #717171;
}
@media only screen and (min-width: 1024px) {
  footer .footerlogo-info .footer-content-box .division-line .line {
    width: 33px;
  }
}
footer .footerlogo-info .footer-content-box .division-line .line:nth-child(2) {
  left: 49%;
}
@media only screen and (min-width: 1024px) {
  footer .footerlogo-info .footer-content-box .division-line .line:nth-child(2) {
    left: 350px;
  }
}
footer .footerlogo-info .footer-content-box .division-line .line:nth-child(3) {
  left: 83%;
}
@media only screen and (min-width: 1024px) {
  footer .footerlogo-info .footer-content-box .division-line .line:nth-child(3) {
    left: 635px;
  }
}
footer .footerlogo-info .footer-content-box .info {
  width: 100%;
  display: flex;
  font-weight: 400;
  color: #717171;
}
@media only screen and (min-width: 1024px) {
  footer .footerlogo-info .footer-content-box .info {
    justify-content: space-between;
    background-color: aqua;
  }
}
footer .footerlogo-info .footer-content-box .info div {
  margin-right: 40px;
}
@media only screen and (min-width: 1024px) {
  footer .footerlogo-info .footer-content-box .info div {
    margin-right: 0;
  }
}
footer .footerlogo-info .footer-content-box .info .address {
  width: 240px;
}
@media only screen and (min-width: 1024px) {
  footer .footerlogo-info .footer-content-box .info .address {
    width: 190px;
  }
}
footer .footerlogo-info .footer-content-box .info .tel {
  width: 155px;
}
@media only screen and (min-width: 1024px) {
  footer .footerlogo-info .footer-content-box .info .tel {
    width: 125px;
  }
}
footer .footerlogo-info .footer-content-box .info .sns {
  width: 85px;
  margin-right: 0;
}
@media only screen and (min-width: 1024px) {
  footer .footerlogo-info .footer-content-box .info .sns {
    width: 70px;
  }
}
footer .footerlogo-info .footer-content-box .info strong {
  margin-bottom: 1.25rem;
}
@media only screen and (min-width: 1024px) {
  footer .footerlogo-info .footer-content-box .info {
    margin-bottom: 35px;
    font-size: 18px;
  }
}
footer .footerlogo-info .footer-content-box .info .txt {
  font-weight: 400;
  font-size: 1.25rem;
  color: #b0afaf;
}
@media only screen and (min-width: 1024px) {
  footer .footerlogo-info .footer-content-box .info .txt {
    font-size: 14px;
  }
}
footer .footerlogo-info .footer-content-box .copyright {
  width: 100%;
  margin-top: 30px;
}
@media only screen and (min-width: 1024px) {
  footer .footerlogo-info .footer-content-box .copyright {
    margin-top: 25px;
  }
}
footer .footerlogo-info .footer-content-box .copyright p {
  font-weight: 400;
  color: #b0afaf;
}
@media only screen and (min-width: 1024px) {
  footer .footerlogo-info .footer-content-box .copyright p {
    font-size: 10px;
  }
}
footer .fixed-menu {
  position: fixed;
  right: 105px;
  bottom: 180px;
}
footer .fixed-menu a {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  background-color: #000;
}/*# sourceMappingURL=notice.css.map */