@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: 400;
  font-size: 16px;
  font-family: "Noto Sans KR", sans-serif;
}
body.stop-scroll {
  height: 100%;
  overflow: hidden;
}

ol,
ul {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: #000;
}

strong,
span {
  display: block;
}

address {
  font-style: normal;
}

img {
  display: block;
  width: 100%;
}

img,
input,
textarea,
select {
  vertical-align: middle;
}

h1 {
  font-size: 30px;
  font-weight: 600;
}

h2 {
  font-size: 24px;
  font-weight: 600;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

p {
  font-size: 16px;
}

header,
nav,
main,
section,
footer {
  display: block;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}
@media only screen and (min-width: 1024px) {
  .container {
    padding: 0 10px;
  }
}

.container {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}
@media only screen and (min-width: 1024px) {
  .container {
    padding: 0 10px;
  }
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}

header {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 12vh;
}
@media only screen and (min-width: 1024px) {
  header {
    height: 150px;
  }
}
header.active {
  position: relative;
  z-index: 100;
  border-bottom: 1px solid #dbdbdb;
}
@media only screen and (min-width: 1024px) {
  header:after {
    content: "";
    position: absolute;
    top: 150px;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 0.5s;
  }
}
@media only screen and (min-width: 1024px) {
  header.sub-bg:after {
    background-color: #fff;
  }
}
@media only screen and (min-width: 1024px) {
  header.active:after {
    height: 220px;
  }
}
header .logo-gnb-rightmenu {
  height: 100%;
}
@media only screen and (min-width: 1024px) {
  header .logo-gnb-rightmenu {
    position: relative;
  }
}
header .logo-gnb-rightmenu.active {
  z-index: 2;
  background-color: #fff;
}
header .logo-gnb-rightmenu .container {
  height: 100%;
}
header .logo-gnb-rightmenu .container .logo-gnb-menu-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 1024px) {
  header .logo-gnb-rightmenu .container .logo-gnb-menu-box {
    position: relative;
  }
}
header .logo-gnb-rightmenu .container .logo-gnb-menu-box .logo {
  position: relative;
  z-index: 10;
  width: 30%;
}
@media only screen and (min-width: 1024px) {
  header .logo-gnb-rightmenu .container .logo-gnb-menu-box .logo {
    width: 191px;
  }
}
header .logo-gnb-rightmenu .container .logo-gnb-menu-box .logo img {
  position: relative;
  z-index: 5;
  width: 100%;
}
@media only screen and (min-width: 1024px) {
  header .logo-gnb-rightmenu .container .logo-gnb-menu-box .logo img {
    width: 100%;
  }
}
header .logo-gnb-rightmenu .container .logo-gnb-menu-box .main-menu {
  display: none;
}
@media only screen and (min-width: 1024px) {
  header .logo-gnb-rightmenu .container .logo-gnb-menu-box .main-menu {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 55px;
    z-index: 5;
    width: 100%;
    padding: 0 20vw;
    height: 80px;
    overflow: hidden;
    text-align: center;
    transition: all 0.5s;
  }
}
header .logo-gnb-rightmenu .container .logo-gnb-menu-box .main-menu.active {
  display: block;
  width: 100%;
}
@media only screen and (min-width: 1024px) {
  header .logo-gnb-rightmenu .container .logo-gnb-menu-box .main-menu.active {
    height: 270px;
  }
}
header .logo-gnb-rightmenu .container .logo-gnb-menu-box .main-menu .gnb {
  margin-top: 10vh;
  padding-left: 30px;
}
@media only screen and (min-width: 1024px) {
  header .logo-gnb-rightmenu .container .logo-gnb-menu-box .main-menu .gnb {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    margin-top: 0;
  }
}
@media only screen and (min-width: 1024px) {
  header .logo-gnb-rightmenu .container .logo-gnb-menu-box .main-menu .gnb li {
    position: relative;
  }
}
header .logo-gnb-rightmenu .container .logo-gnb-menu-box .main-menu .gnb li a.gnb-title {
  padding: 10px 0;
  font-weight: 500;
  font-size: 1.667rem;
}
@media only screen and (min-width: 1024px) {
  header .logo-gnb-rightmenu .container .logo-gnb-menu-box .main-menu .gnb li a.gnb-title {
    display: block;
    width: 150px;
    height: 80px;
    line-height: 78px;
    margin-right: 20px;
    padding: 0;
    font-size: 1.167rem;
    font-weight: 600;
    color: #fff;
  }
}
header .logo-gnb-rightmenu .container .logo-gnb-menu-box .main-menu .gnb li a.gnb-title:hover, header .logo-gnb-rightmenu .container .logo-gnb-menu-box .main-menu .gnb li a.gnb-title.active {
  text-decoration: none;
  color: #ff6000;
}
@media only screen and (min-width: 1024px) {
  header .logo-gnb-rightmenu .container .logo-gnb-menu-box .main-menu .gnb li:last-child a {
    margin-right: 0;
  }
}
header .logo-gnb-rightmenu .container .logo-gnb-menu-box .main-menu .gnb li .sub-menu {
  display: none;
}
@media only screen and (min-width: 1024px) {
  header .logo-gnb-rightmenu .container .logo-gnb-menu-box .main-menu .gnb li .sub-menu {
    position: absolute;
    display: block;
    padding-top: 30px;
    width: 100%;
    height: 270px;
    font-weight: 400;
  }
}
@media only screen and (min-width: 1024px) {
  header .logo-gnb-rightmenu .container .logo-gnb-menu-box .main-menu .gnb li .sub-menu li a {
    display: block;
    width: 150px;
    line-height: 2.2;
    color: #fff;
  }
}
header .logo-gnb-rightmenu .container .logo-gnb-menu-box .main-menu .gnb li .sub-menu li a:hover, header .logo-gnb-rightmenu .container .logo-gnb-menu-box .main-menu .gnb li .sub-menu li a:focus {
  text-decoration: underline;
  color: #000;
}
@media only screen and (min-width: 1024px) {
  header .logo-gnb-rightmenu .container .logo-gnb-menu-box .main-menu .gnb li .sub-menu li a:hover, header .logo-gnb-rightmenu .container .logo-gnb-menu-box .main-menu .gnb li .sub-menu li a:focus {
    color: #fff;
  }
}
header .logo-gnb-rightmenu .container .logo-gnb-menu-box .main-menu .only-mobile {
  position: absolute;
  bottom: 12vh;
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  width: 100%;
  height: 15vh;
  border-top: 1px solid #dbdbdb;
}
header .logo-gnb-rightmenu .container .logo-gnb-menu-box .main-menu .only-mobile .small-title {
  font-weight: 600;
  font-size: 1rem;
  color: #ff6000;
}
header .logo-gnb-rightmenu .container .logo-gnb-menu-box .main-menu .only-mobile .login-txt a {
  font-weight: 400;
  font-size: 1rem;
}
header .logo-gnb-rightmenu .container .logo-gnb-menu-box .main-menu .only-mobile .login-txt a:hover {
  text-decoration: underline;
  color: #000;
}
header .logo-gnb-rightmenu .container .logo-gnb-menu-box .right-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 17%;
}
@media only screen and (min-width: 1024px) {
  header .logo-gnb-rightmenu .container .logo-gnb-menu-box .right-menu {
    position: relative;
    z-index: 6;
    display: block;
    margin: 20px 35px 0 45px;
    width: 85px;
    height: 21px;
  }
}
header .logo-gnb-rightmenu .container .logo-gnb-menu-box .right-menu ul {
  width: 40%;
}
@media only screen and (min-width: 1024px) {
  header .logo-gnb-rightmenu .container .logo-gnb-menu-box .right-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
header .logo-gnb-rightmenu .container .logo-gnb-menu-box .right-menu ul .login {
  display: none;
}
@media only screen and (min-width: 1024px) {
  header .logo-gnb-rightmenu .container .logo-gnb-menu-box .right-menu ul .login {
    display: block;
    width: 27px;
  }
}
header .logo-gnb-rightmenu .container .logo-gnb-menu-box .right-menu ul .search {
  width: 100%;
  cursor: pointer;
}
header .logo-gnb-rightmenu .container .logo-gnb-menu-box .right-menu ul .search.hide {
  display: none;
}
@media only screen and (min-width: 1024px) {
  header .logo-gnb-rightmenu .container .logo-gnb-menu-box .right-menu ul .search {
    width: 27px;
  }
}
header .logo-gnb-rightmenu .container .logo-gnb-menu-box .right-menu ul .search img {
  width: 100%;
}
header .logo-gnb-rightmenu .container .logo-gnb-menu-box .right-menu .mobile-menu {
  position: relative;
  z-index: 2000;
  width: 35%;
  cursor: pointer;
}
@media only screen and (min-width: 1024px) {
  header .logo-gnb-rightmenu .container .logo-gnb-menu-box .right-menu .mobile-menu {
    display: none;
  }
}
header .logo-gnb-rightmenu .container .logo-gnb-menu-box .right-menu .mobile-menu .bar {
  display: block;
  width: 100%;
  height: 2px;
  margin: 2vw 0;
  border-radius: 10px;
  background-color: #000;
  transition: transform 0.5s ease;
}
header .logo-gnb-rightmenu .container .logo-gnb-menu-box .right-menu .mobile-menu .bar:first-child {
  transform: rotate(0deg);
}
header .logo-gnb-rightmenu .container .logo-gnb-menu-box .right-menu .mobile-menu .bar:last-child {
  transform: rotate(0deg);
}
header .logo-gnb-rightmenu .container .logo-gnb-menu-box .right-menu .mobile-menu.active {
  height: 50px;
  position: relative;
}
header .logo-gnb-rightmenu .container .logo-gnb-menu-box .right-menu .mobile-menu.active div {
  position: absolute;
  top: 15px;
  right: 0;
  display: none;
  background-color: #000;
}
header .logo-gnb-rightmenu .container .logo-gnb-menu-box .right-menu .mobile-menu.active div:first-child {
  transform: rotate(-45deg);
  display: block;
}
header .logo-gnb-rightmenu .container .logo-gnb-menu-box .right-menu .mobile-menu.active div:last-child {
  transform: rotate(45deg);
  display: block;
}
header .header-search-box {
  display: none;
  position: absolute;
  left: 0;
  top: 12vh;
  width: 100%;
  height: 11vh;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  background-color: rgba(0, 0, 0, 0.3);
}
@media only screen and (min-width: 1024px) {
  header .header-search-box {
    top: 150px;
    height: 80px;
  }
}
header .header-search-box .search-box {
  position: absolute;
  left: 50%;
  top: 3vh;
  transform: translateX(-50%);
  padding-left: 10px;
  width: 90%;
  height: 5vh;
  border: 1px solid #000;
  border-radius: 10px;
}
@media only screen and (min-width: 1024px) {
  header .header-search-box .search-box {
    top: 20px;
    width: 1000px;
    height: 40px;
    border-radius: 10px;
  }
}
header .header-search-box .search-box:focus {
  outline: none;
}
header .header-search-box img {
  width: auto;
  height: 3vh;
  cursor: pointer;
  position: absolute;
  right: 7vw;
  top: 4vh;
}
@media only screen and (min-width: 1024px) {
  header .header-search-box img {
    right: 230px;
    top: 27px;
    width: 26px;
    height: auto;
  }
}
header .header-search-box.visible {
  display: block;
}
header .header-search-box.sub-visible {
  display: block;
  background-color: #fff;
}

main section {
  /* ***********************section2******************************** */
}
main section.detail {
  margin-bottom: 50px;
}
main section.detail h1 {
  font-size: 2rem;
  margin: 30px 0;
  text-align: center;
}
@media only screen and (min-width: 1024px) {
  main section.detail h1 {
    font-size: 48px;
    text-align: left;
    margin: 50px 0 50px 0;
  }
}
main section.detail .tour-box {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 60%;
  margin: 0 auto;
}
@media only screen and (min-width: 1024px) {
  main section.detail .tour-box {
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
}
main section.detail .tour-box .inside-tour, main section.detail .tour-box .outside-tour {
  position: relative;
  transition: transform 0.3s ease;
}
main section.detail .tour-box .inside-tour img, main section.detail .tour-box .outside-tour img {
  height: auto;
  display: block;
}
@media only screen and (min-width: 1024px) {
  main section.detail .tour-box .inside-tour img, main section.detail .tour-box .outside-tour img {
    width: 400px;
  }
}
main section.detail .tour-box .inside-tour .tour-hover-box, main section.detail .tour-box .outside-tour .tour-hover-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.2s ease;
}
main section.detail .tour-box .inside-tour .tour-hover-box h2, main section.detail .tour-box .outside-tour .tour-hover-box h2 {
  font-size: 4vw;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}
@media only screen and (min-width: 1024px) {
  main section.detail .tour-box .inside-tour .tour-hover-box h2, main section.detail .tour-box .outside-tour .tour-hover-box h2 {
    font-size: 24px;
  }
}
main section.detail .tour-box .inside-tour .tour-hover-box p, main section.detail .tour-box .outside-tour .tour-hover-box p {
  font-size: 3vw;
  margin-bottom: 10px;
  text-align: center;
}
@media only screen and (min-width: 1024px) {
  main section.detail .tour-box .inside-tour .tour-hover-box p, main section.detail .tour-box .outside-tour .tour-hover-box p {
    font-size: 18px;
  }
}
main section.detail .tour-box .inside-tour .tour-hover-box .reservation-btn, main section.detail .tour-box .inside-tour .tour-hover-box .detail-btn, main section.detail .tour-box .outside-tour .tour-hover-box .reservation-btn, main section.detail .tour-box .outside-tour .tour-hover-box .detail-btn {
  background-color: #fff;
  color: #000;
  width: 80%;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  text-align: center;
  border-radius: 2px;
  font-size: 4vw;
}
@media only screen and (min-width: 1024px) {
  main section.detail .tour-box .inside-tour .tour-hover-box .reservation-btn, main section.detail .tour-box .inside-tour .tour-hover-box .detail-btn, main section.detail .tour-box .outside-tour .tour-hover-box .reservation-btn, main section.detail .tour-box .outside-tour .tour-hover-box .detail-btn {
    font-size: 20px;
  }
}
main section.detail .tour-box .inside-tour .tour-hover-box .reservation-btn:hover, main section.detail .tour-box .inside-tour .tour-hover-box .detail-btn:hover, main section.detail .tour-box .outside-tour .tour-hover-box .reservation-btn:hover, main section.detail .tour-box .outside-tour .tour-hover-box .detail-btn:hover {
  background-color: #ff6000;
  color: #fff;
  transition: all 0.3s ease;
}
main section.detail .tour-box .inside-tour:hover .tour-hover-box, main section.detail .tour-box .outside-tour:hover .tour-hover-box {
  opacity: 1;
  transition: opacity 0.2s ease;
}
main section.detail .hide {
  display: none;
}
main section.tour-reservation .reservation-box h2 {
  font-size: 5vw;
  margin-bottom: 20px;
  text-align: center;
}
@media only screen and (min-width: 1024px) {
  main section.tour-reservation .reservation-box h2 {
    font-size: 24px;
  }
}
main section.tour-reservation .reservation-box .reservation-date {
  margin-bottom: 30px;
}
main section.tour-reservation .reservation-box .reservation-date .month {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
main section.tour-reservation .reservation-box .reservation-date .month button {
  background: none;
  border: none;
  font-size: 8vw;
  cursor: pointer;
}
main section.tour-reservation .reservation-box .reservation-date .month #monthLabel {
  margin: 0 10px;
  font-size: 6vw;
}
main section.tour-reservation .reservation-box .reservation-date .dates {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}
main section.tour-reservation .reservation-box .reservation-date .dates button {
  background: none;
  border: 1px solid #000;
  padding: 10px;
  cursor: pointer;
}
main section.tour-reservation .reservation-box .reservation-date .dates button:hover {
  background: #ff6000;
  color: #fff;
  border: 1px solid #ff6000;
  transition: all 0.2s;
}
main section.tour-reservation .reservation-box .reservation-date .dates button:focus {
  background: #ff6000;
  color: #fff;
  border: 1px solid #ff6000;
  transition: all 0.2s;
}
main section.tour-reservation .reservation-box .reservation-time {
  margin-bottom: 50px;
}
main section.tour-reservation .reservation-box .reservation-time h3 {
  font-size: 4vw;
  margin-bottom: 20px;
  text-align: center;
}
main section.tour-reservation .reservation-box .reservation-time .time-selector {
  display: flex;
  justify-content: center;
  gap: 10px;
}
main section.tour-reservation .reservation-box .reservation-time .time-selector .time-option {
  background: none;
  border: 1px solid #000;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 4vw;
}
main section.tour-reservation .reservation-box .reservation-time .time-selector .time-option:hover {
  background: #ff6000;
  color: #fff;
  border: 1px solid #ff6000;
  transition: all 0.2s;
}
main section.tour-reservation .reservation-box .reservation-time .time-selector .time-option:focus {
  background: #ff6000;
  color: #fff;
  border: 1px solid #ff6000;
  transition: all 0.2s;
}
main section.tour-reservation .reservation-box .reservation-number {
  margin-bottom: 20px;
}
main section.tour-reservation .reservation-box .reservation-number h3 {
  font-size: 4vw;
  margin-bottom: 20px;
  text-align: center;
}
main section.tour-reservation .reservation-box .reservation-number .person-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
main section.tour-reservation .reservation-box .reservation-number .person-selector button {
  background: none;
  border: 1px solid #000;
  padding: 10px;
  font-size: 2.5vw;
  cursor: pointer;
}
main section.tour-reservation .reservation-box .reservation-number .person-selector button:hover {
  background: #ff6000;
  color: #fff;
  border: 1px solid #ff6000;
  transition: all 0.2s;
}
main section.tour-reservation .reservation-box .reservation-number .person-selector #personCount {
  font-size: 5vw;
}
main section.tour-reservation #prev-btn, main section.tour-reservation #next-btn {
  width: 100%;
  background: #fff;
  color: #000;
  padding: 10px 20px;
  border: 1px solid #000;
  cursor: pointer;
  margin-bottom: 10px;
}
main section.tour-reservation #prev-btn#next-btn, main section.tour-reservation #next-btn#next-btn {
  margin-bottom: 30px;
}
main section.tour-reservation #prev-btn:hover, main section.tour-reservation #next-btn:hover {
  background: #ff6000;
  color: #fff;
  border: 1px solid #ff6000;
  transition: all 0.2s;
}

footer {
  position: relative;
  width: 100%;
}
footer .footer-img img {
  width: 100%;
}
footer .footerlogo-info {
  padding: 35px 20px;
}
footer .footerlogo-info .footer-content-box {
  position: relative;
  width: 90%;
  margin: 0 auto;
}
@media only screen and (min-width: 1024px) {
  footer .footerlogo-info .footer-content-box {
    display: flex;
    width: 82%;
    height: 150px;
  }
}
footer .footerlogo-info .footer-content-box .footer-logo {
  margin-bottom: 30px;
  width: 100%;
}
@media only screen and (min-width: 1024px) {
  footer .footerlogo-info .footer-content-box .footer-logo {
    margin-right: 6%;
    width: 290px;
  }
}
footer .footerlogo-info .footer-content-box .footer-logo h2 {
  font-weight: 100;
  font-size: 2rem;
}
@media only screen and (min-width: 1024px) {
  footer .footerlogo-info .footer-content-box .footer-logo h2 {
    line-height: 1.2;
    font-size: 3.75rem;
  }
}
footer .footerlogo-info .footer-content-box .footer-info-box {
  width: 100%;
}
@media only screen and (min-width: 1024px) {
  footer .footerlogo-info .footer-content-box .footer-info-box {
    display: flex;
    flex-direction: column;
  }
}
footer .footerlogo-info .footer-content-box .footer-info-box .info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media only screen and (min-width: 1024px) {
  footer .footerlogo-info .footer-content-box .footer-info-box .info {
    width: 100%;
  }
}
footer .footerlogo-info .footer-content-box .footer-info-box .info div strong {
  font-weight: 500;
  font-size: 0.9rem;
  color: #353535;
}
@media only screen and (min-width: 1024px) {
  footer .footerlogo-info .footer-content-box .footer-info-box .info div strong {
    margin-bottom: 15px;
    font-size: 1.167rem;
  }
}
footer .footerlogo-info .footer-content-box .footer-info-box .info div .long-line {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 2px;
  margin: 10px 0;
  background-color: #b0afaf;
}
footer .footerlogo-info .footer-content-box .footer-info-box .info div .long-line .line {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 41px;
  height: 100%;
  background-color: #717171;
}
@media only screen and (min-width: 1024px) {
  footer .footerlogo-info .footer-content-box .footer-info-box .info div .long-line .line {
    width: 33px;
  }
}
footer .footerlogo-info .footer-content-box .footer-info-box .info .address {
  width: 45%;
}
@media only screen and (min-width: 1024px) {
  footer .footerlogo-info .footer-content-box .footer-info-box .info .address {
    width: 40%;
  }
}
footer .footerlogo-info .footer-content-box .footer-info-box .info .tel {
  width: 40%;
}
@media only screen and (min-width: 1024px) {
  footer .footerlogo-info .footer-content-box .footer-info-box .info .tel {
    width: 35%;
  }
}
footer .footerlogo-info .footer-content-box .footer-info-box .info .sns {
  width: 15%;
}
@media only screen and (min-width: 1024px) {
  footer .footerlogo-info .footer-content-box .footer-info-box .info .sns {
    width: 25%;
  }
}
footer .footerlogo-info .footer-content-box .footer-info-box .info .sns li a:hover {
  color: #000;
  text-decoration: underline;
}
footer .footerlogo-info .footer-content-box .footer-info-box .info .txt {
  width: 80%;
  font-weight: 400;
  font-size: 0.75rem;
  color: #353535;
}
@media only screen and (min-width: 1024px) {
  footer .footerlogo-info .footer-content-box .footer-info-box .info .txt {
    width: 75%;
    font-size: 1rem;
  }
}
footer .footerlogo-info .footer-content-box .footer-info-box .copyright {
  width: 100%;
  margin-top: 20px;
}
@media only screen and (min-width: 1024px) {
  footer .footerlogo-info .footer-content-box .footer-info-box .copyright {
    margin-top: 0;
  }
}
footer .footerlogo-info .footer-content-box .footer-info-box .copyright p {
  font-weight: 400;
  font-size: 0.75rem;
  color: #353535;
}
footer .fixed-menu {
  position: fixed;
  right: 30px;
  bottom: 50px;
  z-index: 10;
}
@media only screen and (min-width: 1024px) {
  footer .fixed-menu {
    right: 60px;
    bottom: 100px;
  }
}
footer .fixed-menu a {
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  background-color: #000;
}
@media only screen and (min-width: 1024px) {
  footer .fixed-menu a {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
}
footer .fixed-menu a:hover {
  text-decoration: none;
}/*# sourceMappingURL=tour.css.map */